@media screen and (min-width: 0px) {
	html,
	body,
	#root {
		box-sizing: border-box;
		margin: 0;
		min-height: 100vh;
		background-color: var(--light-color);

		--primary-color: #8d5245;
		--light-color: #ffffff;
		--dark-color: #000000;
		--error-color: #d92d20;
		--success-color: #12b76a;
		--input-field-text-color: #0d0706;
		--input-field-bg-color: #f5f6fa;
		--input-field-border-color: #e9eaeb;
		--input-field-label-color: #454545;
		--select-field-text-color: #9a9a9a;
		--select-field-border-color: #d9d9d9;
		--form-legend-color: #414141;
		--primary-color-variant: #b77a6c;
		--primary-color-complement: #dbbdb6;
		--app-bg-color: #f5f5f5;
		--dashboard-welcome-message-dark-color: #202224;
		--dashboard-welcome-message-ash-color: #aaaaaa;
		--grey-subtitle-color: #a4a7ae;
		--table-border-color: #f2f2f2;
		--modal-message-text-color: #4c4c4c;
		--icon-button-bg-color: #faf9fa;
		--subtitle-text-color: #3b3d3b;
		--chip-text-color: #6e726e;
		--badge-text-color: #1d1d1d;
		--bright-yellow-color: #fdb022;
		--success-color-variant: #d1fadf;
		--error-color-variant: #ff0000;

		--basic-padding: 2rem;
		--basic-margin: 2rem;
		--flex-gap: 2rem;

		--side-nav-width: 100%;
		--top-nav-height: 5.1875rem;
		--side-navigation-header-height: calc(
			var(--top-nav-height) + var(--basic-padding)
		);
	}

	* {
		/* outline: 1px solid #FF0000; */
	}

	.loader {
		width: calc(0.6 * var(--basic-padding)) !important;
		height: auto !important;
	}

	/* below are styles pertaining to the side-navigation bar */

	/* styles for the side navigation header comprising of the logo and close button  */
	.side-navigation-header {
		gap: calc(var(--flex-gap) / 4);
		justify-content: space-between !important;
		height: var(--side-navigation-header-height);
		padding: calc(var(--basic-padding) / 2) var(--basic-padding) !important;
	}

	/* For the side navigation header, styles for the app icon */
	/* For each side navigation item, styles for the corresponding icon */
	.side-navigation-header .app-icon,
	.Side-Nav-Item .MuiListItemIcon-root {
		flex: 0 1 24px;
		overflow: hidden;
		min-width: 0px;
	}

	/* For the side navigation header, styles for the app icon to counter flex property alone*/
	.side-navigation-header .app-icon {
		flex: 0 1 auto;
	}

	/* For each side navigation item, styles for the corresponding text element */
	.Side-Nav-Item .MuiListItemText-root {
		flex: 1 1 0;
		overflow: hidden;
	}

	/* For the side navigation header, styles for the logo image itself */
	.side-navigation-header .app-icon > img {
		width: 100%;
		height: auto;
	}

	/* For the side navigation header, styles for the close icon */
	.side-navigation-header .close-button {
		flex: 0 1 auto;
		overflow: hidden;
	}

	/* For each side navigation item, styles for the button element */
	.Side-Nav-Item .MuiListItemButton-root {
		border-radius: 8px;
		gap: calc(var(--flex-gap));
	}

	/* For the logout side navigation item, styles for the button to catch the button text */
	.Side-Nav-Item.Logout-Side-Nav-Item .MuiListItemButton-root {
		color: var(--error-color);
	}

	/* For each side navigation item, styles for the button on hover */
	.Side-Nav-Item:hover .MuiListItemButton-root {
		color: var(--light-color);
		background: var(--primary-color);
	}

	/* For each side navigation item, styles for the corresponding icon to catch svg>path */
	.Side-Nav-Item:hover
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path {
		fill: var(--light-color);
	}

	/* For each page, style the corresponding side nav item */
	#Dashboard .Dashboard-Side-Nav-Item .MuiListItemButton-root,
	#Orders .Orders-Side-Nav-Item .MuiListItemButton-root,
	#Inventory .Inventory-Side-Nav-Item .MuiListItemButton-root,
	#Transactions .Transactions-Side-Nav-Item .MuiListItemButton-root,
	#Support .Support-Side-Nav-Item .MuiListItemButton-root,
	#Settings .Settings-Side-Nav-Item .MuiListItemButton-root,
	#Admin-Management .Admin-Management-Side-Nav-Item .MuiListItemButton-root {
		color: var(--light-color);
		background: var(--primary-color);
	}

	/* For each page, style the corresponding side nav item to catch svg>path */
	#Dashboard
		.Dashboard-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Orders
		.Orders-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Inventory
		.Inventory-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Transactions
		.Transactions-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Support
		.Support-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Settings
		.Settings-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path,
	#Admin-Management
		.Admin-Management-Side-Nav-Item
		.MuiListItemButton-root
		.MuiListItemIcon-root
		> svg
		> path {
		fill: var(--light-color);
	}

	/* Below are styles pertaining to modal components */
	.add-admin-form-modal .MuiDialog-paper,
	.edit-admin-form-modal .MuiDialog-paper {
		border-radius: 16px;
		max-width: 25rem;
		width: -webkit-fill-available;
	}
}

@media screen and (min-width: 425px) {
	html,
	body,
	#root {
		--side-nav-width: 17.3125rem;
	}

	.side-navigation-header {
		justify-content: center !important;
		padding: var(--basic-padding) calc(var(--basic-padding) * 2)
			calc(var(--basic-padding) / 2) !important;
	}
}
